<div class="container">
    <div class="col-md-9">
        <h3 style="font-weight:bold;"><i class="glyphicon glyphicon-cutlery"></i>&nbsp;판매 품목 목록</h3>
        <table class="table table-striped">
            <thead>
                <a ng-click="$ctrl.openMenuInsertModal()" href="#" class="btn btn-primary btn-xs pull-right">
                    <b>+</b> 새 상품 추가</a>
                <tr>
                    <th>No.</th>
                    <th>상품 이름</th>
                    <th>가격</th>
                    <th>메뉴 설명</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="menu in $ctrl.menus track by $index">
                <td>{{$index+1}}</td>
                <td>{{menu.name}}</td>
                <td>{{menu.price}}</td>
                <td>{{menu.description}}</td>
                <td class="text-center">
                  <a class='btn btn-info btn-xs' href="#" ng-click="$ctrl.openMenuUpdateModal()">
                    <span class="glyphicon glyphicon-edit white"></span>편집</a>
                  <a href="#" class="btn btn-danger btn-xs" ng-click="$ctrl.delMenu($event, menu.id)">
                    <span class="glyphicon glyphicon-remove white"></span>삭제</a>
                </td>
              </tr>
            </tbody>
        </table>
        <!-- <div class="col-md-12 right">
            <form>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="col-md-4" style="padding:0px;">
                        <select class="form-control">
                            <option>상품 이름</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="padding:0px;">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-4" style="padding:0px;">
                        <input type="button" class="btn btn-default btn-md" value="검색">
                    </div>
                </div>
            </form>
        </div> -->
    </div>

</div>
