<div class="container">
    <div class="col-md-9">
        <h3 style="font-weight:bold;"><i class="glyphicon glyphicon-cutlery"></i>&nbsp;판매 품목 목록</h3>
        <table class="table table-striped">
            <thead>
                <a href="#" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.openModal2()">
                    <b>+</b> 새 상품 추가</a>
                <tr>
                    <th>No.</th>
                    <th>상품 이름</th>
                    <th>가격</th>
                    <th>메뉴 설명</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>아메리카노</td>
                <td>3,000</td>
                <td>쓴 아메리카노</td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="#" data-toggle="modal" data-target="#myEditModal" ng-click="$ctrl.openModal()">
                        <span class="glyphicon glyphicon-edit white"></span>편집</a>
                    <a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myDeleteModal">
                        <span class="glyphicon glyphicon-remove white"></span>삭제</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>아메리카노</td>
                <td>3,000</td>
                <td>쓴 아메리카노</td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="#" data-toggle="modal" data-target="#myEditModal" ng-click="$ctrl.openModal()">
                        <span class="glyphicon glyphicon-edit"></span>편집</a>
                    <a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myDeleteModal">
                        <span class="glyphicon glyphicon-remove"></span>삭제</a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>아메리카노</td>
                <td>3,000</td>
                <td>쓴 아메리카노</td>
                <td class="text-center">
                    <a class='btn btn-info btn-xs' href="#" data-toggle="modal" data-target="#myEditModal" ng-click="$ctrl.openModal()">
                        <span class="glyphicon glyphicon-edit"></span>편집</a>
                    <a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myDeleteModal">
                        <span class="glyphicon glyphicon-remove"></span>삭제</a>
                </td>
            </tr>
        </table>
        <div class="col-md-12 right">
            <form>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="col-md-4" style="padding:0px;">
                        <select class="form-control">
                            <option>상품 이름</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="padding:0px;">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-4" style="padding:0px;">
                        <input type="button" class="btn btn-default btn-md" value="검색">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>