<div class="container-fluid" style="margin:0px;color:white;margin-bottom:20px;padding:15px;background:#08b;border-radius:10px;">
	<h5 style="float:left;">예약한 상품이 준비중입니다! 조금만 기다려주세요!</h5>
	<button style="float:right;margin-left:15px;" class="btn btn-primary">자세히</button>
</div>
<div class="container-fluid" style="margin:0px;color:white;margin-bottom:20px;padding:15px;background:#603527;border-radius:10px;">
	<h5 style="float:left;">따끈한 커피가 준비되었습니다! 찾아가주세요!</h5>
	<button style="float:right;margin-left:15px;" class="btn btn-primary">자세히</button>
</div>