<div class="container">
  <div class="col-md-9">
    <h3 style="font-weight:bold"><i class="glyphicon glyphicon-user"></i>&nbsp;사용자 명단</h3>
    <!--tab-->
    <table class="table table-striped">
      <a ng-click="$ctrl.openUserInsertModal()" href="#" class="btn btn-primary btn-xs pull-right">
        <b>+</b> 새 계정 추가</a>
      <thead>
        <tr>
          <th>NO.</th>
          <th>이름</th>
          <th>이메일</th>
          <th>권한</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in $ctrl.users track by $index">
          <td>{{$index+1}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.roleKr}}</td>
          <td>
            <a ng-click="$ctrl.openUserUpdateModal(user)" class='btn btn-info btn-xs' href="#">
              <span class="glyphicon glyphicon-edit"></span>편집</a>
            <a href="#" class="btn btn-danger btn-xs" ng-click="$ctrl.delUser($event, user.id)">
              <span class="glyphicon glyphicon-remove"></span>삭제</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="col-md-12 right">
      <form>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-8 pull-right">
              <div class="col-md-3" style="padding:0px;">
                  <select class="form-control">
                      <option>이름</option>
                      <option>이메일</option>
                  </select>
              </div>
              <div class="col-md-6" style="padding:0px;">
                  <input type="text" class="form-control">
              </div>
              <div class="col-md-2" style="padding:0px;">
                  <input type="button" class="btn btn-default btn-md" value="검색">
              </div>
          </div>
      </form>
  </div> -->
</div>
