@import '~bootstrap/dist/css/bootstrap.css';
@import '~angular-material/angular-material.min.css';

body{
}
.career{
	transition-duration:.6s;
	width:330px;
	margin:auto;
	margin-bottom:100px;
}
.career:hover{
	transition-duration:0s;
	box-shadow:0px 4px 64px rgba(0,0,0,0.25);
}