<div class="container-fluid row" id="mainDiv">
	<div class="container-fluid reserveAlert">
		<h5>예약한 상품이 준비중입니다! 조금만 기다려주세요!</h5>
		<a onclick="if(demo.style.height!=''){demo.style.height='';demo.style.marginTop='10px';}else{demo.style.height='0px';demo.style.marginTop='';}" class="btn btn-warning" data-toggle="collapse" data-target="#demo">자세히</a>
		<div id="demo" class="container-fluid" style="height:0px;">
			<hr>
			메뉴 : 아메리카노 3잔<br>
			신청 시간 : 23시 61분<br>
			예약 시간 : 23시 61분<br>
			예상 준비 완료 시간 : 23시 61분<br>
		</div>
	</div>

  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="text-align:center;">
    <h2 style="margin-top:0px;">마이페이지</h2><br>
    <a style="float:left;margin-right:15px;" class="btn btn-warning">&lt;</a>
    <h2 style="font-size:15px;margin-top:0px;display:inline;">2018년 4월 구매내역</h2>
    <a style="float:right;margin-left:15px;" class="btn btn-warning">&gt;</a>
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th class="text-center">구매날짜</th>
          <th class="text-center">수량</th>
          <th class="text-center">총 금액</th>
          <th class="text-center">진행상황</th>
        </tr>
      </thead>
      <tr ng-repeat="reservation in $ctrl.sumaryReservation" ng-click="$ctrl.openMainDetailModal(reservation.reservation)">
        <td>{{reservation.createdAt}}</td>
        <td>{{reservation.numProduct}}</td>
        <td>{{reservation.amount}}</td>
        <td ng-if="reservation.status == 0"><b>대기</b></td>
        <td ng-if="reservation.status == 1" style="color: green"><b>완료</b></td>
        <td ng-if="reservation.status == 2" style="color: red"><b>삭제</b></td>
      </tr>
   	</table>
	</div>

  <div class="col-sm-3"></div>
</div>
